.active-style {
  color: green;
  background: blue;
}
.semester-parent {
  display: flex;
  gap: 10px;
  border:1px solid red;
  justify-content:space-between;
  overflow-x:auto;
}
.semester-child {
  background: skyblue;
  border-radius: 5px;
  text-align:center;
  padding:15px;
}
