.playlist-container {
  display: flex;
  gap:10px;
  flex-wrap:wrap;
}
.playlists {
  background: red;
  color: white;
  border: 1px solid red;
  width: 30%;
  height: 30vh;
  overflow: auto;
  box-shadow: 5px 5px 5px gray;
  border-radius: 15px;
}
.playlist-video {
  width: 70%;
}
